# Function

# Que01)  What are data structures, and why are they important?

===> data structure is  the way of organizing and shorting data so that it can be accessed and manipulated effeciently
ex.[List ,string,set,tuple,dictionery,array.]

# Que 02)Explain the difference between mutable and immutable data types with examples.

===> **Mutable Data Types:**

Definition: These are data types whose values can be changed after they are created. You can modify, add, or remove elements from them.
Examples:
Lists: Ordered collections of items.

**Immutable Data Types:**
Definition: These are data types whose values cannot be changed after they are created. If you try to modify an immutable object, you will actually create a new object with the modified value.
Examples:
Strings: Sequences of characters.

# Que 03)  What are the main differences between lists and tuples in Python?

===>** Lists are mutable:** You can change, add, or remove elements after a list is created.

**Tuples are immutable:** You cannot change, add, or remove elements after a tuple is created.

# Que 4) Describe how dictionaries store data.

===>
**Key-Value Pairs:**
 The fundamental unit of a dictionary is a pair consisting of a unique key and its associated value.

 1) **Values:** Values can be of any data type, including mutable types like lists and other dictionaries.
 2)**Unordered:**The order in which you inserted items was not guaranteed to be the
 3)**Ordered:**the order of items in a dictionary is the order in which they were inserted.
 4)**Hashing:**Dictionaries use a hash table internally. When you add a key-value pair, Python calculates a hash value for the key.

# Que 05) Why might you use a set instead of a list in Python?

===> Here are the key reasons:

1) A set automatically removes duplicates,A set automatically removes duplicates.
2)Faster membership testing (in operator),
Checking if something is in a set is much faster (O(1) average) compared to a list (O(n) average).
3) Efficient set operations,You can easily do unions, intersections, and differences.
4)Order doesn’t matter,. If you don’t need to preserve element order, sets are great.

# Que 6)  What is a string in Python, and how is it different from a list?

===>   string is the sequence of characters present and manipulate textual data.
it used to share textual data, such as word,sentences or even numbers as characters.

Main differences between a String and a List

string:                                              List
1)data type Holds only characters (text)  1)Can hold elements of any data type
2)cannot change characters directly       2)can change elements directly
3) it is a immutable.                     3) it is a mutable.
4)Enclosed in quotes (")                  4)Enclosed in square brackets []
5)ex "Hello"	                            5)ex [1, 2, 3] or ["a", "b", "c"]

# Que 7  How do tuples ensure data integrity in Python?

===>
1)No accidental modification:
 You can’t change tuple elements after creation, so your data remains exactly as it was originally set.
2)Safe to use as fixed configuration:
Since data can’t change, tuples are ideal for storing constants or read-only settings.
3)Can be used as dictionary keys:
Immutability means tuples can be hashed, making them reliable as keys in dictionaries or elements in sets.
4)Thread safety:
In multi-threaded programs, tuples are safer because no thread can change their contents, reducing data corruption risks.

#Que 8) What is a hash table, and how does it relate to dictionaries in Python?

===>  A hash table is a data structure that stores key–value pairs and uses a hash function to quickly find the location of a value based on its key.

 Relation to Python Dictionaries

In Python:
1)dict is implemented using a hash table internally.
2)Keys must be hashable (immutable types like strings, numbers, tuples of immutables).
3)Operations like insertion, deletion, and lookup are very fast on average because of hashing.

# Que 9) Can lists contain different data types in Python?

===>
Yes — In Python 3, lists can contain elements of different data types.

This is because Python lists are dynamic arrays that can store references to any kind of object, and the elements do not have to be the same type.

# Que 10) Explain why strings are immutable in Python?

===>
Strings in Python are immutable, meaning once you create a string, you cannot change its contents in place — any modification creates a new string object in memory.

Reasons why strings are immutable in Python

1)Hashing and Dictionary Keys:-
Immutable objects can have a fixed hash value, which allows strings to be used as dictionary keys and set elements safely.
If strings were mutable, their hash could change, breaking dictionary lookups.

2)Memory efficiency & performance:-
Python can reuse the same string object in memory for identical strings (string interning), saving space and speeding up access.

3)Thread safety:-
In multi-threaded programs, immutable strings ensure no thread can accidentally modify a string while another is reading it.

4)Historical & design choice:-
Many languages (like Java) also make strings immutable for safety, simplicity, and predictability.

# que 11)What advantages do dictionaries offer over lists for certain task?

===>Advantages of Dictionaries over Lists:

1)Fast lookups by key (O(1) average)
>In a list, searching for a value requires scanning each element (O(n) time).
>In a dictionary, Python uses a hash table, so finding a value by its key is extremely fast.

2)Meaningful keys instead of indexes
>In a list, you must remember the position (index).
>In a dictionary, you access data using descriptive keys

3)Better for sparse data
>If you have widely spaced indexes, dictionaries waste less memory than lists.

4)Flexible structure
>Each value in a dictionary can be of any type (list, dict, tuple, etc.), and you can mix types freely.

5)Dynamic updates
>Adding or removing key–value pairs is easy and efficient.

# que 12)Describe a scenario where using a tuple would be preferable over a list.


===> Scenario:
You’re writing a program to store the GPS coordinates of a landmark — for example, the Taj Mahal.
The coordinates are:

python
taj_mahal_coordinates = (27.1751, 78.0421)

Why a tuple is preferable over a list here:

1)Data should not change:
GPS coordinates of a fixed landmark never change, so you don’t want the data to be accidentally modified.
Tuples are immutable, meaning once created, their values cannot be altered.

2)Tuples signal “fixed structure”:
Anyone reading your code will understand that (latitude, longitude) is a constant, not something to append or delete from.

3)Faster and memory efficient:
Tuples have a smaller memory footprint and can be slightly faster than lists, which is useful for many small, unchanging datasets.

4)Can be used as dictionary keys:
If you want to map coordinates to location names, tuples can serve as dictionary keys (lists cannot because they’re mutable).

# que 13) How do sets handle duplicate values in Python?

===>
In Python, a set automatically removes duplicate values.
If you try to add a value that’s already in the set, it will not store it again.

Example:

my_set = {1, 2, 3, 2, 1}
print(my_set)
Output:{1, 2, 3}
( Here, 1 and 2 were entered twice, but the set kept them only once.)

#que 14) How does the “in” keyword work differently for lists and dictionaries?


===>
 In a List
-in checks if a value is present anywhere in the list.
-It searches through all elements until it finds a match
-checks if an item is in the list.
In a Dictionary
-in only checks keys, not value
-checks if a key is in the dictionary

# que 15)Can you modify the elements of a tuple? Explain why or why


===> No
 — you cannot modify the elements of a tuple in Python.

Reason
Tuples are immutable, meaning their contents cannot be changed after creation.
Once you create a tuple, you cannot change an element's value,remove element's
add element's.

this immutability is built into Python for data integrity,performance,hashability

# que 16) What is a nested dictionary, and give an example of its use case

===> Definition
A nested dictionary is used when you need multiple levels of key–value pairs.
Each key in the outer dictionary can have another dictionary as its value.

Use Cases
Storing hierarchical data (e.g., country → state → city)
Student database (student name → subject → marks)
Configuration files (settings grouped by categories)
Inventory systems (category → product → details).

# que 17) Describe the time complexity of accessing elements in a dictionary


===> in Python, dictionaries are implemented using hash tables, so the average time complexity of accessing an element is:

Time Complexity
Average case: O(1) → Constant time
Because Python uses the key’s hash value to directly find the memory location of the value.
Worst case: O(n) → Linear time
This happens rarely, only if hash collisions occur and many keys end up in the same bucket, requiring a sequential search.
In practical use, dictionary lookups in Python are extremely fast and close to O(1), which is why they’re often preferred over lists for key-based searches

# que 18)In what situations are lists preferred over dictionaries?

===> Lists are preferred over dictionaries in situations where:
Index-Based Access,Order Matters,Data Without Unique Key,Sequential Processing,Small Datasets or Simpler Structures,Quick Rule.

# que 19) Why are dictionaries considered unordered, and how does that affect data retrieval?


===> Python dictionaries were considered unordered because they were implemented as hash tables that stored key–value pairs without guaranteeing the order of insertion.

How It Affects Data Retrieval

No Index-Based Access;
You can’t do my_dict[0] to get the first element, unlike lists.
Iteration Order:
Iterating over a dictionary could produce keys in a seemingly random order.
Current Situation:
Dictionaries do maintain insertion order as an implementation detail,
However, they’re still conceptually unordered — you should not depend on index positions for meaning; instead, you should always retrieve by key.

# que 20) Explain the difference between a list and a dictionary in terms of data retrieval.

===>
List:
1)Elements are retrieved using an index (position number).
2)O(1) for direct index access.
3)List Use when data is ordered, and you care about position.
Dictionary:
1)Elements are retrieved using a key (name or label)
2)O(1) average case for key lookup (hash table-based).
3)Dictionary: Use whendata is key–value paired, and you care about fast lookups by key.

In [ ]:
#                         Practical Questions

In [ ]:
#Que 1) Write a code to create a string with your name and print.

my_name="Ganesh"
print(my_name)

Ganesh

In [ ]:
# Que 2) Write a code to find the length of the string "Hello World"
a="Hello World"
print(len(a))

11

In [ ]:
# Que 3) Write a code to slice the first 3 characters from the string "Python Programming.
B ="python programing"
print(B[0:3])

pyt

In [ ]:
# Que 4) Write a code to convert the string "hello" to uppercase.
A="hello"
print(A.upper())

HELLO

In [ ]:
# Que 5)  Write a code to replace the word "apple" with "orange" in the string "I like apple.

string = "i like Apple"
new_add = string.replace("apple","orange")
print(new_add)

i like Apple

In [ ]:
text="i like apple"
new_text=text.replace("apple","orange")
print(new_text)

i like orange

In [ ]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [ ]:
# que 6)  Write a code to create a list with numbers 1 to 5 and print it.

my_list =[1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
# que 7) Write a code to append the number 10 to the list [1, 2, 3, 4]

my_list=[1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
# que 8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
# que 9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a','b','c','d']
print(list[1])

b

In [ ]:
# que 10) Write a code to reverse the list [10, 20, 30, 40, 50].
list=[10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
# que 11) . Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple=(100,200,300)
print(tuple)

(100, 200, 300)

In [ ]:
# que 12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple =('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [ ]:
# que 13)  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple=(10, 20, 5, 15)
print(min(tuple))
print(len(tuple))

5
4

In [ ]:
# que 14)  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple=('dog','cat','rabbit')
print(tuple.index('cat'))

1

In [ ]:
# que 15)  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

tuple_list=('orange ','apple','banana')
print('kiwi'in tuple_list)
print('banana' in tuple_list)

False
True

In [ ]:
# que 16) . Write a code to create a set with the elements 'a', 'b', 'c' and print it

my_set={'a','b','c'}
print(my_set)

set1={'a','b','c'}
print(set1)

{'b', 'c', 'a'}
{'b', 'c', 'a'}

In [ ]:
# que 17)  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set={1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [ ]:
# que 18) Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set1={1, 2, 3, 4}
set1.remove(4)
print(set1)

{1, 2, 3}

In [ ]:
# Que 19  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set_one={1,2,3}
set_two={3,4,5}
print(set_one.union(set_two))
print(set_two.union(set_one))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [ ]:
# Que 20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={3,4,5}
print(set1.intersection(set2))

{3}

In [ ]:
# que 21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict={"name":"Ganesh","age":27,"city":"pune"}
print(my_dict)
print(type(my_dict))

{'name': 'Ganesh', 'age': 27, 'city': 'pune'}
<class 'dict'>

In [ ]:
# que 22)  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict1={'name':'John','age':25}
my_dict1["country"]='USA'
print(my_dict1)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# que 23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict= {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [ ]:
# que 24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop('age')
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# que 25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

dict1={'name':'alice','city':'New york'}
print('city'in dict1)

True
False

In [ ]:
# que 26) Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list=[1,2,3,4,5]
my_tuple=(1,2,3,4,5)
my_dict={'name':'ganesh','age':27,'city':'pune'}
print(my_list)
print(my_tuple)
print(my_dict)
print((my_list,my_tuple,my_dict))

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{'name': 'ganesh', 'age': 27, 'city': 'pune'}
([1, 2, 3, 4, 5], (1, 2, 3, 4, 5), {'name': 'ganesh', 'age': 27, 'city': 'pune'})

In [ ]:
# que 27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the resul (replaced)

list1=[52,80,20,45,30]
list1.sort()
print(list1)

[20, 30, 45, 52, 80]

In [ ]:
# que 28) Write a code to create a list with strings and print the element at the third index.

fruits=['apple','banana','orange','kiwi','mango']
print(fruits[3])

kiwi

In [ ]:
# que 29) Write a code to combine two dictionaries into one and print the result
set1={'name':'Ganesh','age':27,'city':'pune'}
set2={'country':'India','state':'Maharashtra','age':24}
combine_dict = set1.copy() # Create a copy to avoid modifying the original dictionary
combine_dict.update(set2)
print(combine_dict)

print(type(set1))

{'name': 'Ganesh', 'age': 24, 'city': 'pune', 'country': 'India', 'state': 'Maharashtra'}
<class 'dict'>

In [ ]:
# que 30)  Write a code to convert a list of strings into a set.

my_list=['banana','apple','fan','tv','mobile']
fruite_list = set(my_list)
print(fruite_list)

{'tv', 'mobile', 'apple', 'banana', 'fan'}